/*=============== Google Fonts ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/*=============== Css Variables ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --primary-color: #4a4a4a;
  --primary-color-alt: #575757;
  --linear-gradient: linear-gradient(54deg, rgba(45,45,45,095) 34%,rgba(45,45,45,0.95));

  --title-color: #4a4a4a;
  --text-color: #555;
  --text-color-alt: #999;
  --bg-color: #fff;
  --bg-color-alt: #a6a9accb;
  --border-color: #f1f1f1;

  /*========== Font and typography ==========*/
  --roboto-font: 'Roboto', sans-serif;
  --mono-font: 'Roboto Mono', monospace;

  --fs-h1: 2.75rem;
  --fs-h2: 2.25rem;
  --fs-lg: 1.125rem;
  --fs-base: 1rem;
  --fs-sm: 0.875rem;
  --fs-xs: 0.75rem;

  /*========== Font Weight ==========*/
  --medium: 500;
  --semibold: 600;
  --bold: 700;
}

/*=============== Base ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--roboto-font);
  font-size: var(--fs-base);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5em;
}

h1,
h2,
h3
h4{
  font-family: var(--mono-font);
  font-weight: var(--bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

textarea,
input {
  background: none;
  border: none;
  outline: none;
}

/*=============== Reusable Css ===============*/
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.grid{
  display: grid;
}

.section{
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.section__title{
  font-size: var(--fs-h2);
  line-height: 1.17em;
  font-weight: var(--medium);
  margin-bottom: 1.12em;
}

.text-lg{
  font-size: var(--fs-lg);
  line-height: 1.67em;
}

.text-sm{
  font-size: var(--fs-sm);
  line-height: 1.43em;
}

.text-xs{
  font-size: var(--fs-xs);
  line-height: 1.5em;
}

.skills__title,
.resume__title {
  color: var(--text-color-alt);
  letter-spacing: 0.4em;
  margin-bottom: 2.8em;
}
/*=============== Header ===============*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav{
  height: calc(var(--header-height) + 0.875rem);
  display: flex;
  align-items: flex-end;
}

.nav__list{
  display: flex;
  column-gap: 10rem;
  margin-bottom: 1rem;
}

.nav__link{
  color:#fff;
  font-size: 0.9rem;
  font-weight: var(--bold);
  font-family: var(--mono-font);
  text-transform: uppercase;
  position: relative;
  transition: 0.3s;
}

.nav__link:hover{
  opacity: 0.5;
}

.nav__link::after{
  content:'';
  position: absolute;
  bottom: 0;
  right: -0.5rem;
  width: 7px;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
  opacity: 0;
}


.nav__link:hover::after{
  opacity: 1;
}

.nav__close,
.nav__toggle{
  display: none;
}


/* Active Link */
.active-link{
  opacity: 0.5;
}

.active-link::after{
  opacity: 1;
}



/* Scroll Header */

/*=============== Home ===============*/
.home{
  background-size: cover;
  background-position: 50%;
  padding-top: 5.5rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.home::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--linear-gradient);
}

.home__container {
  grid-template-columns: 4fr 8fr;
  column-gap: 1.875rem;
}

.home__img,
.home__data {
  z-index: 10;
}

.home__img{
  width: 90%;
  height: 380px;
  object-fit: cover;
  border-radius: 0.3rem;
  transform: translateY(3.125px);
  box-shadow: 0 0 27px rgb(96 96 96 / 34%);
}

.home__name,
.home__work,
.home__list,
.home__social-link{
  color: #fff;
  font-family: var(--mono-font);
}

.home__name{
  font-size: var(--fs-h1);
  line-height: 1.14rem;
  margin: 2rem 0 0.5em;  
}

.home__work{
  margin-bottom: 2.5rem;
}

.home__list dt{
  float: left;
  font-weight: var(--bold);
  opacity: 0.4;
}

.home__list dd{
  margin-left: 6.25em;
}

.home__list dd:not(:last-child){
  margin-bottom: 0.94em;
}

.home__socials{
  margin: 1.25rem 2.2rem;
}

.home__social-link{
  font-size: 1.7rem;
  line-height: 1.36em;
  maargin-right: 0.25rem;
  opacity: 0.4;
  transition: 0.3s;
}

.home__social-link:hover{
  opacity: 1;
}

/*=============== Hello ===============*/
.hello__details{
  margin-bottom: 1.67rem;
  text-align: justify;
}

/*=============== Buttons ===============*/
.buttons{
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1.1em 2.1em;
  border-radius: 1.56rem;
  font-weight: var(--semibold);
  transition: 0.3s;
}

.buttons:hover{
  background-color: var(--primary-color-alt);
}

.buttons--flex{
  display: inline-flex;
  align-items: flex-start;
  column-gap: 0.3rem;
}
/*=============== Services ===============*/
.services__container{
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.services__item{
  border: 1px solid var(--border-color);
  padding: 2.5rem 1.25rem 1.875rem;
  text-align: center;
}

.icon__box{
  border: 1px solid var(--border-color);
  width: 82px;
  height: 82px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom:  1.25rem;
  position: relative;
  display: flex;
}

.services__icon{
  width: 32px;
  margin: auto;
}

.services__dot{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: service-dot 2s linear infinite;
  animation-play-state: paused;
}

.services__item:hover .services__dot{
  animation-play-state: running;
}

@keyframes service-dot{
  0%{
    transform: rotate(0deg);    
  }

  100%{
    transform: rotate(1turn);
  }
}

.dot{
  width: 13px;
  height: 13px;
  background-color: var(--title-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0.9rem;
}

.services__title{
  margin-bottom: 0.8rem;
}
/*=============== Resume ===============*/

.resume__container{
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.75rem;
}

.resume__title {
  color: var(--text-color-alt);
  letter-spacing: 0.4em;
  margin-bottom: 2.8em;
}

.resume__item{
  border-left: 2px solid var(--primary-color);
  padding-left: 1.6rem;
  padding-bottom: 3rem;
  position: relative;
}

.resume__item::not(:last-child){
  padding-bottom: 3rem;
}

.resume__item::before{
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  position: absolute;
  left: -0.56rem;
  background-color: var(--bg-color);
}

.resume__subtitle{
  color: var(--primary-color);
  margin-bottom: 0.36em;
}

.resume__date{
  color: var(--text-color-alt);
  margin-bottom: 0.7em;
}

.resume_description{
  text-align: justify;
}

/*=============== Skills ===============*/

.skills__container{
  grid-template-columns: repeat(2, 445px);
  column-gap: 7rem;
}


.skilss__list{
  row-gap: 1.8rem;
}

.skills__titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

.skills__bar,
.skills_percentage{
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar{
  background-color: var(--bg-color-alt);
}

.skills_percentage{
  display: block;
  background-color: var(--primary-color);
}


/*=============== Projects ===============*/
.project__categories{
  display: flex;
  column-gap: 3rem;
  margin-bottom: 1.875rem;
}

.category__btn{
  color: var(--text-color-alt);
  font-weight: var(--bold);
  font-family: var(--mono-font);
  position: relative;
}

.category__btn:hover{
  color: var(--primary-color);
}

.category__btn::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: -0.5rem;
  width: 7px;
  height: 2px;
  background-color: var(--primary-color);
  opacity: 0;
  transition: 0.3s;
}

.category__btn:hover::after{
  opacity: 1;
}


.active-work{
  color: var(--primary-color);
}

.active-work::after{
  opacity: 1;
}

.project__container{
  row-gap: 2.5rem;
}
.project__item{
  grid-template-columns: 5fr 7fr;
}

.project__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__data{
  padding-left: 3rem 3rem 2.5rem 1.875rem; 
  border: 1px solid var(--border-color);
}

.project__title{
  margin-bottom: 0.8em;
  text-align: justify;
}

.project__description{
  margin-bottom: 2.5em;
  text-align: justify;
}

.project__stack{
  margin-bottom: 1.25em;
}

.tags li{
  display: inline-block;
  margin-right: 0.6rem;
  box-shadow: 0 1px 4px rgba(0 0 0 / 14%);
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
}

.project__link{
  float: right;
  margin-top: 3.9em;
  color: var(--primary-color);
  font-family: var(--mono-font);
}

/*=============== Contact ===============*/
.contact{
  background: url(../img/bg.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.contact::before{
  content: '';
  background: var(--linear-gradient);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.contact__content{
  z-index: 10;
  position: relative;
}

.contact__container{
  grid-template-columns: 4fr 5fr 3fr;
  column-gap: 1.875rem;  
  padding-top: 1.25rem;
}

.contact .section__title,
.contact__list,
.contact__social-link,
::placeholder,
.contact__input,
.contact__form-title,
.footer__copy{
  color: #fff;
  font-family: var(--mono-font);
}

.contact__list{
  margin-bottom: 3.25rem;
}

.contact__button{
  color: #fff
}

.contact__list dt{
  float: left;
  font-weight: var(--bold);
  text-transform: uppercase;
}

.contact__list dd{
  padding-left: 6.25em;
  margin-bottom: 0.94em;
}

.contact_socials li{
  margin-bottom: 0.75rem;
  font-family: var(--roboto-font);
}

.contact__social-link{
  font-family: var(--roboto-font);
}

.contact__form{
  position: relative;
}

.contact__form-title{
  margin-bottom: 1.25em;
}

.contact__input-div{
  margin-bottom: 0.94em;
}

.contact__input{
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 0.625rem;
}

.textarea{
  height: 7.2rem;
  resize: none;
}

.contact__input:focus{
  box-shadow: inset 0 0 5px 0 #fff;
}

.contact__message{
  position: absolute;
  bottom: 9%;
  left: 0;
  font-family: var(--mono-font);
}
.contact__button{
  margin-top: 1.875;
  width: 100%;
  box-shadow: 0 1px 29px rgb(0 0 0 / 40%)
}

.footer__cpoy{
  opacity: 0.4;
  margin-top: 3.7rem;
  text-align: center;
}

